extends ../layout

block content
  .page-header
    if userIsMember
      a(href='/project/'+project._id+'/leave', class='btn btn-warning pull-right') Leave Project
    else
      if user
        if isOwner
          a(href='/project/' + project._id + '/destroy', class='btn btn-danger pull-right') Delete Project
          a(href='/project/' + project._id + '/edit', class='btn btn-primary pull-right') Edit
        else
          a(href='/project/'+project._id+'/join', class='btn btn-primary pull-right') Join Project
    h3 #{project.name}
  .row
    div.col-md-2 Location:
    div.col-md-10
      a(href='https://maps.google.com/?q=' + project.location, target='_blank') #{project.location}
  .row
    div.col-md-2 Description:
    div.col-md-10 #{project.description}
  .row
    div.col-md-2 Location:
    div.col-md-10 #{project.location}
  .row
    div.col-md-2 Duration(Start date - End date):
    div.col-md-10 #{project.startDate.toDateString()} - #{project.endDate.toDateString()}
  .row
    div.col-md-2 Total hours planned:
    div.col-md-10 #{project.totalHoursPlanned}
  .row
      div.col-md-2 Total esdtimated budget:
      div.col-md-10 #{project.totalEstimatedBudget}
  br
  if (user)
      select(id='donationAmount',
      class='form-control pull-left',
      style='width:230px; margin-right:10px;')
        option(value='') Select Donation Amount
        option(value='5') $5.00
        option(value='10') $10.00
        option(value='20') $20.00
        option(value='50') $50.00
      a(href='#',
       class='btn btn-primary ',
       onclick="document.helpers.checkout('Social Good I Owe','"+project.name+"',$('#donationAmount').val(),'"+user.email+"');") Donate to this project.

  hr

  div.members
    h3="Current Members"
      ul.members__list
        li.members__item
          div.memberCard
            a.memberCard__link(href='/profile/' + project.owner._id)
              img.memberCard__avatar(class='js-projectMember-avatar',src=project.owner.picture, height='30', data-toggle='tooltip', data-placement='bottom', title='#{project.owner.name}')
        if project.members.length>0 && project.members[0].user != null
          for member in project.members
            if member.user

              li.members__item
                div.memberCard
                  a.memberCard__link(href='/profile/' + member.user._id)
                    - var picture = ''
                    if member.user.picture
                      - picture = member.user.picture
                    else
                      - picture = member.user.gravatar(60)
                    img.memberCard__avatar(src="#{picture}", class='js-projectMember profile', width='30', height='30', data-toggle='tooltip', data-placement='bottom', title='#{member.user.name}')
