extends ../layout

block content
  .page-header
    // ToDo: Buttons should be conditional based on the viewer
    a(href='https://maps.google.com/?q=' + project.location, target='_blank', class='btn btn-primary pull-right') Join Project
    a(href='#', class='btn btn-primary pull-right') Edit
    h3 #{project.name}
  .row
    div.col-md-2 Location:
    div.col-md-10
      a(href='https://maps.google.com/?q=' + project.location, target='_blank') #{project.location}
  .row
    div.col-md-2 Description:
    div.col-md-10 #{project.description}
  .row
    div.col-md-2 Location:
    div.col-md-10 #{project.location}
  .row
    div.col-md-2 Duration(Start date - End date):
    div.col-md-10 #{project.startDate.toDateString()} - #{project.endDate.toDateString()}
  .row
    div.col-md-2 Total hours planned:
    div.col-md-10 #{project.totalHoursPlanned}
  .row
      div.col-md-2 Total esdtimated budget:
      div.col-md-10 #{project.totalEstimatedBudget}