extends ../layout

block content
  .page-header
    // ToDo: Buttons should be conditional based on the viewer
    if !userIsMember
      if user._id+"" != project.owner._id+""
        a(href='/project/'+project._id+'/join', class='btn btn-primary pull-right') Join Project
      else
        a(href='/project/'+project._id+'/delete', onclick="alert('not implemented');", class='btn btn-danger pull-right') Delete Project
    else
      a(href='/project/'+project._id+'/leave', class='btn btn-warning pull-right') Leave Project
    a(href='/project/'+project._id+'/join', title='Owners of projects shouldnt ever "Join" their own projects, so they normally wouldnt see this option.  It is here for testing only',class='btn btn-primary pull-right') dev-hack Join Project
    if user._id+"" == project.owner._id+""
      a(href='https://maps.google.com/?q=' + project.location, target='_blank', class='btn btn-primary pull-right') Edit
    h3 #{project.name}
  .row
    div.col-md-2 Location:
    div.col-md-10
      a(href='https://maps.google.com/?q=' + project.location, target='_blank') #{project.location}
  .row
    div.col-md-2 Description:
    div.col-md-10 #{project.description}
  .row
    div.col-md-2 Location:
    div.col-md-10 #{project.location}
  .row
    div.col-md-2 Duration(Start date - End date):
    div.col-md-10 #{project.startDate.toDateString()} - #{project.endDate.toDateString()}
  .row
    div.col-md-2 Total hours planned:
    div.col-md-10 #{project.totalHoursPlanned}
  .row
      div.col-md-2 Total esdtimated budget:
      div.col-md-10 #{project.totalEstimatedBudget}

  hr
  div.members
    h3="Current Members"
    if project.members.length>0 && project.members[0].user != null
      ul
        for member in project.members
          if member.user
            li
              div.memberCard
                div.avatar
                  img(src=member.user.picture, height='30')
                  div #{member.user.name}