.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      img(src='/img/logo.png', height='40px')
      //a.navbar-brand(href='/', title='SocialGood.io') SocialGood.io

    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='SocialGood.io'?'active':undefined)
          a(href='/') SocialGood.io
        li(class=title=='Projects'?'active':undefined)
          a(href='/projects') Projects
        li(class=title=='Create Project'?'active':undefined)
          a(href='/project/new') Create Project
        li(class=title=='Contact'?'active':undefined)
          a(href='/contact') Contact
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Log In
          li(class=title=='Create Account'?'active':undefined)
            a(href='/signup') Sign Up
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.picture
                img.profile-image(src='#{user.picture}')
              else
                img.profile-image(src='#{user.gravatar(60)}')
              | #{user.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/profile/' + user._id) Profile
              li: a(href='/account') My Account
              li.divider
              li: a(href='/logout') Logout