extends /layout

block content
  h1 Active Projects
  for project in projects
    div.project-card
      h3.title
        a(href='/project/'+project.id)
          span=project.name
      div.description
          p=project.description
      div.members
        if project.members.length>0 && project.members[0].user != null
          each val in [0, 1, 2, 3, 4, 5]
            if(project.members[val])
              img(src="#{project.members[val].user.picture}", class='profile', width='30', height='30')
          if project.members.length>6
            |...
      div.summary
        div.membercount
          if project.members.length>0
            div=project.members.length + ((project.members.length>1) ? ' Members':' Lonely Member')
          else
            div='No followers yet.'
        div.stats
          div 
            //- (project.members.length*8).toFixed(2)+'%'
          div 
            //- 'Funded'
        div.value
          div='$'+(project.totalEstimatedBudget?project.totalEstimatedBudget:0).toFixed(2)
          div='Total Value'